@use '@/styles/variables' as *;

.editor {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 12px;
}

.addOption {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-left: 28px;
}

.addOptionText {
  margin: 0;
  font-size: 14px;
  font-weight: 500;
  color: $placeholder-color;
  cursor: pointer;

  &:hover {
    color: black;
  }
}

.blocksContainer {
  width: 100%;
}
