.checkboxWrapper {
  display: flex;
  align-items: center;
  height: 100%;
}

.checkbox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 18px;
  min-height: 18px;
  width: 18px;
  height: 18px;
  margin-right: 10px;
  border-radius: 3px;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  transition: background-color 0.15s ease;
  cursor: pointer;

  svg {
    opacity: 0;
    transition: opacity 0.15s ease;
    pointer-events: none;
  }

  &:has(input:checked) {
    background-color: var(--color-accent);
    border-color: var(--color-accent);

    svg {
      opacity: 1;
    }
  }
}

.checkboxInput {
  position: absolute;
  appearance: checkbox;
  opacity: 0;
  min-width: 20px;
  min-height: 20px;
  width: 20px;
  height: 20px;
}

.disabled {
  cursor: default;
  pointer-events: none;
}
