@use '@/styles/variables' as *;

.checkboxEditWrapper {
  display: flex;
  flex-direction: column;
}

.checkboxEdit {
  display: flex;
  align-items: center;
  gap: 10px;

  input:not(:placeholder-shown) {
    color: #37352f;
  }
}

.addButtonWrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 4px;
  margin-left: 28px;
}

.addButton {
  background: none;
  border: none;
  cursor: pointer;
  color: $placeholder-color;
  padding: 0;
  opacity: 0.5;

  &:hover {
    opacity: 1;
  }

  &:focus {
    outline: none;
  }
}