@use '@/styles/variables' as *;

.button {
  padding: $spacing-sm $spacing-md;
  border-radius: $spacing-sm;
  cursor: pointer;
  font-size: 14px;
  font-weight: bold;
  display: inline-flex;
  align-items: center;
  gap: $spacing-sm;

  @include ripple-effect;

  &:hover {
    opacity: 0.9;
    background-color: #d8d8d8;
  }

  &:focus {
    outline: none;
  }
}

.primary {
  background-color: #000;
  color: #fff;
  border: none;

  &:hover {
    background-color: #2a2a2a;
  }
}

.secondary {
  background-color: transparent;
  color: #000;
  border: 1px solid #000;

  &:hover {
    background-color: rgba(0, 0, 0, 0.05);
  }
}

.tertiary {
  background-color: transparent;
  color: #4b4b4b;
  font-weight: 600;
  border: none;

  &:hover {
    color: #000;
  }
}

.leftIcon {
  display: inline-flex;
  align-items: center;
}

.rightIcon {
  display: inline-flex;
  align-items: center;
}
