@use '@/styles/variables' as *;

$shadow-color-1: rgba(0, 0, 0, 0.12);
$shadow-color-2: rgba(61, 59, 53, 0.16);
$shadow-color-3: rgba(61, 59, 53, 0.08);

.text-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.text-input {
  height: 36px;
  padding: 4px 12px;
  font-size: 16px;
  font-family: inherit;
  min-width: 360px;  
  box-sizing: border-box;
  color: $placeholder-color;

  &:focus {
    outline: none;
  }

  &.text-input-with-icon {
    padding-right: 40px;
  }

  &.text-input-read-only {
    color: inherit;
  }
}

.text-input-end-icon {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $placeholder-color;
  pointer-events: none;
  opacity: 0.3;

  svg {
    width: 16px;
    height: 16px;
  }
}

.text-input-standard {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 4px 0;

  &:focus {
    box-shadow: none;
  }
}

.text-input-outlined {
  background-color: #ffffff;
  border: 0px;
  border-radius: $spacing-sm;
  box-shadow: $shadow-color-1 0px 1px 1px 0px,
    $shadow-color-2 0px 0px 0px 1px,
    $shadow-color-3 0px 2px 5px 0px;

  &:hover {
    box-shadow: $shadow-color-1 0px 1px 1px 0px,
      $shadow-color-2 0px 0px 0px 1px,
      $shadow-color-3 0px 3px 9px 0px,
      $shadow-color-3 0px 2px 5px 0px;
  }
}

.text-input-filled {
  background-color: #f5f5f5;
  border: 0px;
  border-radius: $spacing-sm;

  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

