@use '@/styles/variables' as *;

$shadow-color-1: rgba(0, 0, 0, 0.12);
$shadow-color-2: rgba(61, 59, 53, 0.16);
$shadow-color-3: rgba(61, 59, 53, 0.08);

.text-input-wrapper {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.text-input {
  height: 36px;
  padding: 4px 12px;
  font-size: var(--font-size);
  font-family: var(--font-family);
  box-sizing: border-box;
  color: var(--color-text);
  max-width: 320px;
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);

  &::placeholder {
    color: var(--color-input-placeholder);
  }

  &:focus {
    outline: none;
  }

  &.text-input-with-icon {
    padding-right: 40px;
  }

  &.text-input-read-only {
    color: inherit;
  }
}

.text-input-end-icon {
  position: absolute;
  right: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-input-placeholder);
  pointer-events: none;
  opacity: 0.7;

  svg {
    width: 16px;
    height: 16px;
  }
}

.text-input-standard {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 4px 0;

  &:focus {
    box-shadow: none;
  }
}

.text-input-outlined {
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  border-radius: $spacing-sm;
  box-shadow:
    $shadow-color-1 0px 1px 1px 0px,
    $shadow-color-2 0px 0px 0px 1px,
    $shadow-color-3 0px 2px 5px 0px;

  &:hover {
    box-shadow:
      $shadow-color-1 0px 1px 1px 0px,
      $shadow-color-2 0px 0px 0px 1px,
      $shadow-color-3 0px 3px 9px 0px,
      $shadow-color-3 0px 2px 5px 0px;
  }
}

.text-input-filled {
  background-color: var(--color-input-bg);
  border: 1px solid var(--color-input-border);
  border-radius: $spacing-sm;

  &:focus {
    box-shadow:
      0 0 0 1px var(--color-input-border),
      0px 0px 0px 4px var(--color-input-border);
  }
}
