.outerContainer {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
  min-height: 100vh;
  background-color: #ffffff;
  background-image: radial-gradient(circle, #e0e0e0 1px, transparent 1px);
  background-size: 24px 24px;
}

.container {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: .5rem;
}

