.toolbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.toolbarContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.toolbarLeft {
  flex: 1;
}

.toolbarRight {
  display: flex;
  align-items: center;
}

