$shadow-color-1: rgba(0, 0, 0, 0.12);
$shadow-color-2: rgba(61, 59, 53, 0.16);
$shadow-color-3: rgba(61, 59, 53, 0.08);

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.preview {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ffffff;
    z-index: 1000;
    animation: fadeIn 0.3s ease-out;
}

.previewContainer {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    min-height: 100vh;
}

.previewContent {
    max-width: 600px;
    width: 100%;
    margin: 0 auto;
    padding: 10rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.returnButtonContainer {
    position: fixed;
    top: 12px;
    left: 16px;
    z-index: 6;
}

.returnButton {
    position: relative;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
    height: 28px;
    font-size: 14px;
    border-radius: 7px;
    background: transparent;
    border: 1px solid rgb(223, 223, 222);
    padding: 0 12px;
    color: #5f5f5f;
    outline: none;

    &:hover {
        background: #f5f5f5;
        color: #121212;
        outline: none;
        border: 1px solid #e0e0e0;
    }
}

.chevronIcon {
    width: 20px;
    height: 20px;
}
