@use '@/styles/variables' as *;

.textfield {
  height: 32px;
  padding: 4px 12px;
  font-size: 16px;
  font-family: inherit;
  
  &:focus {
    outline: none;
  }
}

.textfield-standard {
  background: transparent;
  border: none;
  border-radius: 0;
  padding: 4px 0;
  
  &:focus {
    box-shadow: none;
  }
}

.textfield-outlined {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: $spacing-sm;
  
  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

.textfield-filled {
  background-color: #f5f5f5;
  border: 1px solid #e0e0e0;
  border-radius: $spacing-sm;
  
  &:focus {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 4px rgba(0, 0, 0, 0.1);
  }
}

